$main-color: #ff6060;
* {
  box-sizing: border-box;
}

.collapse {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  font-family: Montserrat;
  background-color: $main-color;
  width: 1023px;
  height: 52px;
  border-radius: 5px;
  color: white;
  margin-top: 30px;
  padding: 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: 34.22px;

  h2 {
    display: block;
  }
  i {
    display: block;
  }
  .downwards {
    transform-origin: center;
    transform: rotate(-180deg);
    transition: 0.4s;
  }
  .upwards {
    transform-origin: center;
    transform: rotate(0deg);
    transition: 0.4s;
  }
}

.content {
  height: 0px;
  width: 1023px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #f6f6f6;
  overflow: hidden;
  transition: height ease 0.4s;
  .description {
    padding: 15px;
    font-family: Montserrat;
    font-weight: 20px;
    color: $main-color;
    line-height: 20 px;
  }
}
