// Mes variable

$main-color: #ff6060;
#root {
  width: 100%;
}
//body
body {
  margin: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Header
header {
  color: $main-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 10% 10px 10%;
  .biglogo {
    width: 210px;
  }
  nav {
    display: flex;
    justify-content: center;
    width: 309px;
    gap: 57px;
  }

  a {
    display: block;
    color: $main-color;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    line-height: 34.22px;
    text-decoration: none;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.banner {
  background-position: center;
  height: 223px;
  width: 1240px;
  border-radius: 20px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-home {
  background-image: url('../assets/banner-home.png');
}

.banner-about {
  background-image: url('../assets/banner-about.png');
}

.conteneur {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//error

.error {
  width: 100%;
  color: $main-color;
  font-family: Montserrat;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
  gap: 100px;
  padding-bottom: 100px;
  h1 {
    font-weight: 700;
    font-size: 288px;
    margin: 0px;
  }

  h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 51.34px;
  }
  a {
    color: $main-color;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 25.67px;
  }
}

// Footer
footer {
  width: 100%;
  height: 209px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  font-size: 24px;
  padding-top: 57px;
  line-height: 34.22px;
  gap: 20px;
  box-sizing: border-box;
  margin-top: 10px;
  img {
    width: 122px;
  }
}
